.product-page{
    width:95%;
    margin:auto;
}

.product-page h1{
    text-align:center;
    margin:20px;
}

.product-form{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-bottom:30px;
}

.product-form input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.product-form button{
    background:#007bff;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.product-table{
    width:100%;
    border-collapse:collapse;
}

.product-table th{
    background:#007bff;
    color:white;
}

.product-table td,
.product-table th{
    padding:12px;
    border:1px solid #ddd;
    text-align:center;
}

.product-table img{
    border-radius:8px;
}

.product-table button{
    margin:5px;
    padding:8px 15px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.product-table button:first-child{
    background:orange;
    color:white;
}

.product-table button:last-child{
    background:red;
    color:white;
}